## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
numero=5
print(numero)

5

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
x = 8.5
print(type(x))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
x = 5
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [7]:
x= "Camila"
print(x)

Camila

5) Crear una constante que contenga el número Pi

In [9]:
PI= 3.14
print("El valor de PI es:" , PI)

El valor de PI es: 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [10]:
PI= 3.14
print(type (PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [ ]:
import math
E = math.e
print ("El numero de euler redondeado a 4 decimales es", round (E,4))

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [27]:
a = 'True'   # esto es una cadena de texto 
b = True     # esto es un valor booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
a= 'true'
b= True
print ("a =", type(a),"b =", type(b))

TypeError: 'tuple' object is not callable

10) Asignar a una variable, la suma de un número entero y otro flotante

In [ ]:
numero= 5
suma = numero + 5 + 2.1
print(suma)

TypeError: 'tuple' object is not callable

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
num_str="4"
num_ent= 5
suma= int(num_str)+num_ent
print("El resultado es:", suma)

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [ ]:
num_e= 2.7183
potencia= 2.7183**3
print(potencia)

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
numero= int(input("Ingrese un numero:"))
multiplicacion= numero*6
print("El resultado es:", multiplicacion)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
division= 27/4
print("El cociente de 27 dividido 4 es", division)

15) De la división anterior solamente mostrar la parte entera

In [ ]:
division= 27//4
print("El cociente de 27 dividido 4 es", division)

16) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
modulo= 27%4
print("El resto de 27 dividido 4 es", modulo)

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [ ]:
divisor= 4
cociente= 6
resto= 3
calculo= divisor*cociente+resto
print(calculo)

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
num1= "2" #este es un tipo de dato string
num2= 2   #este es un tipo de dato entero
if num1== num2:
    print("Son iguales")
else:
    print("No son iguales")

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [ ]:
num1= "2" 
num2= 2   
if int(num1)== num2:
    print("Son iguales")
else:
    print("No son iguales")

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a= float('3,8') #el error es la ","
a= float ('3.8') #forma correcta con el "."

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
operacion= 10 + '10' #Error: son tipos de datos diferentes (int y string)
operacion = 10 + int(10) #suma de enteros, resultdo: 20
operacion= '10'+'10' #concatenacion de cadenas, resultado: 1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [ ]:
menu= ["Menu:", "1-Pizza", "2-Empanadas", "3-Milanesas", "4-Salir"]
print(menu)

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
lista_num= [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [ ]:
lista_num= [1,2,3,4,5,6,7,8,9,10]
print(lista_num[-2])

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [ ]:
lista_num= [1,2,3,4,5,6,7,8,9,10]
lista_num[2]= "Camila"
print(lista_num)

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz= [["A", "B", "C"], ["D","E","F"], ["G","H","I"]]
print(matriz)

27) Imprimir la matriz creada en el punto 26

In [ ]:
matriz= [["A", "B", "C"], ["D","E","F"], ["G","H","I"]]
print(matriz)

28) Modificar la letra E de la matriz y colocar la letra Z

In [ ]:
matriz[1][1]="Z"
print(matriz)

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [ ]:
matriz[0][0]= 1
matriz[0][1]= 2
matriz[0][2]= 3
print(matriz)

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
marcas_rop=("Adidas", "Nike", "Puma", "Rebook", "Topper")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [ ]:
marcas_rop=("Adidas", "Nike", "Puma", "Rebook", "Topper")
print(marcas_rop[0])

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#Las tuplas no se pueden modificar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [2]:
diccionario={"nombre": "Camila", "apellido": "Caylá", "edad": "25", "hobbies": "bailar, cantar, y actuar" }
print(diccionario)

{'nombre': 'Camila', 'apellido': 'Caylá', 'edad': '25', 'hobbies': 'bailar, cantar, y actuar'}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [4]:
diccionario={"nombre": "Camila", "apellido": "Caylá", "edad": "25", "hobbies": "bailar, cantar, y actuar" }
print(diccionario["hobbies"])

bailar, cantar, y actuar

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [5]:
diccionario["edad"]= 23
print(diccionario["edad"])

23